@import url(https://fonts.googleapis.com/css?family=Poppins:400,300,600,700,800,900=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,900=swap);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General Stylings */

body {
  font-family: "Open Sans";
  font-size: 18px;
}

h1 {
  font-family: "Poppins";
  font-weight: 600;
  color: hsl(192, 100%, 9%);
}

p {
  font-family: "Open Sans";
  color: hsl(208, 11%, 55%);
}

a {
  cursor: pointer;
  font-family: "Open Sans";
  border-radius: 3.5em;
  font-weight: 700;
  text-decoration: none;
}

/* header stylings */

/* Nav stylings */
header {
  padding: 3.5rem 5rem 2rem 6rem;
  background-color: hsl(193, 100%, 96%);
  background-image: url(./images/bg-hero-desktop.svg);
}

header section nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

header section nav div {
  flex: 1;
}
#img-cont {
  text-align: left;
}
nav #btn-cont {
  text-align: right;
}
nav a {
  font-size: 15px;
  padding: 15px 70px;
  border: none;
  box-shadow: hsla(200, 8%, 77%, 0.801) 0px 0px 10px 0px;
  background-color: white;
  border-radius: 3em;
  text-decoration: none;
  font-weight: 700;
  color: hsl(192, 100%, 9%);
}

nav a:hover {
  color: hsla(192, 67%, 30%, 0.883);
}

#nav-btn {
  font-size: 15px;
  padding: 15px 72px;
  border: none;
  box-shadow: hsla(200, 8%, 77%, 0.801) 0px 0px 8px 0px;
}

#h-block-1 {
  margin-bottom: 4em;
}

header #h-block-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 2.8em;
}

/* Lower part of header  */
header #h-block-2 #img-cont {
  flex: 0.52;
  text-align: right;
}
header #h-block-2 #text-wrap {
  flex: 0.48;
  flex-direction: column;
  font-family: "Poppins";
}
#h-block-2 #text-wrap {
  padding-right: 2.5em;
}
#h-block-2 h1 {
  font-size: 40px;
  margin-bottom: 0.5em;
}
#h-block-2 p {
  font-size: 19px;
  color: hsl(192, 100%, 9%);
  font-weight: 400;
  margin-bottom: 2em;
}
#h-block-2 #text-wrap a {
  cursor: pointer;
  background-color: hsl(322, 100%, 66%);
  color: hsl(193, 100%, 96%);
  border: none;
  padding: 1.2em 5em;
  font-family: "Open Sans";
  border-radius: 3.5em;
  font-weight: 700;
  text-decoration: none;
  font-size: 15px;
}
#h-block-2 #text-wrap a:hover {
  cursor: pointer;
  background-color: hsla(322, 93%, 66%, 0.886);
}

/* main stylings */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4.5rem 6rem 3rem 7rem;
}

main .block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 0.9em;
  margin: 2em 0em;
  padding: 4.4em 2.8em 4.3em 5.5em;
  box-shadow: hsla(204, 5%, 81%, 0.86) 0px 0px 15px 0px;
}

main .block .m-span {
  flex: 1;
}

main .block .txt-span h1 {
  font-size: 28px;
  margin-bottom: 0.6em;
  font-weight: 600;
}

main .block .txt-span {
  font-size: 17px;
  text-align: left;
  line-height: 24px;
}

main .block #txt-span-2 {
  padding-right: 0em;
  margin-right: -1em;
  margin-left: 1em;
}

main .block #m-img-span-1,
main .block #m-img-span-3 {
  margin-left: 0em;
  padding: 0em 0em 0em 4em;
  text-align: right;
  justify-content: right;
}

main .block #m-img-span-2 {
  margin-right: 0em;
  padding: 0em 2em 0em 0em;
  text-align: left;
  /* justify-content: left; */
  /* justify-content: flex-start; */
}

.lil-block {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: white;
  align-items: center;
  border-radius: 0.9em;
  margin: 2em 0em -8em;
  padding: 3em 2em 3em 2em;
  box-shadow: hsla(204, 5%, 81%, 0.86) 0px 0px 15px 0px;
  width: 60%;
  z-index: 1;
}

.lil-block span {
  font-weight: 700;
  font-family: "Poppins";
  font-size: 24px;
  color: hsl(192, 100%, 9%);
  margin-bottom: 1.3em;
}

.lil-block a {
  text-decoration: none;
  background-color: hsl(322, 100%, 66%);
  color: hsl(193, 100%, 96%);
  border: none;
  padding: 1.5em 6.1em;
  font-size: 14px;
  font-weight: 700;
  box-shadow: hsla(200, 8%, 77%, 0.95) 0px 5px 10px 0px;
}

.lil-block a:hover {
  background-color: hsla(322, 93%, 66%, 0.886);
}

footer {
  background-color: hsl(192, 100%, 9%);
  padding: 10em 7em 3em;
  font-size: 16px;
}

footer > figure {
  padding: 0em 0em 2.5em;
}

footer > figure img {
  width: 17%;
}

.f-block {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: hsla(204, 5%, 81%, 0.9);
}

#f-sect-1 {
  display: flex;
  flex-direction: column;
  flex: 0.6;
}

#f-sect-1 .wrap {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding-bottom: 1.6em;
}

#f-sect-1 .wrap span {
  justify-content: center;
  align-items: center;
}

#f-sect-1 .wrap img {
  margin-right: 1.5em;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
}

#f-sect-4 {
  flex: 0.45;
  text-align: center;
  display: inline-block;
}

#f-sect-4 a {
  padding: 1em 0.4em 0em 0em;
}

#f-sect-2,
#f-sect-3 {
  flex: 0.2;
  padding-left: 4em;
}

footer ul {
  list-style: none;
  color: white;
  color: hsla(204, 5%, 81%, 0.9);
}
footer ul li {
  text-decoration: none;
  padding: 0.5em 1em;
}
footer ul li a,
footer p {
  font-weight: 400;
  color: hsla(204, 5%, 81%, 0.9);
}
footer ul li a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.15em;
}

footer #f-sect-4 a img {
  background-color: white;
  border-radius: 100%;
  padding: 1px;
  width: 9%;
}

footer #f-sect-4 a img:hover {
  background-color: hsl(322, 70%, 57%);
}

footer > span {
  text-align: right;
  font-size: 14px;
}

footer > span > p {
  margin-right: -4em;
  font-family: "Poppins";
  margin-top: -2.8em;
}
